<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>595478903248-snjoqslh7t3lpim4i0bjkh34usnbjqgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595478903248-snjoqslh7t3lpim4i0bjkh34usnbjqgp</string>
	<key>API_KEY</key>
	<string>AIzaSyCDExAnCoBf7EJU67SWP7GQPKu37sS5Q8U</string>
	<key>GCM_SENDER_ID</key>
	<string>595478903248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Murmur.Murmur</string>
	<key>PROJECT_ID</key>
	<string>murmur-2676e</string>
	<key>STORAGE_BUCKET</key>
	<string>murmur-2676e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:595478903248:ios:170d3e4045e649d8</string>
	<key>DATABASE_URL</key>
	<string>https://murmur-2676e.firebaseio.com</string>
</dict>
</plist>
